/* Remove default list styling */
.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Style the list items */
.nav_li {
    float: left;
}

/* Style the links inside the list items */
.nav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav_li a:hover {
    background-color: #111;
}
