<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>HomePage</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a class="w3-bar-item w3-hover-blue" href="/logout">Logout</a>
        <a class="w3-bar-item w3-hover-blue" href="/profile">Profile</a>
        {% if session["position"] == "student" %}
            <a class="w3-bar-item w3-hover-blue">Assignment Submission</a>
        {% elif session ["position"] == "teacher" %}
            <a class="w3-bar-item w3-hover-blue" href="/cca_session">Session Manager</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>