{% extends 'Base.html' %}

{% block content %}
<h1>Change Password</h1>
<h2 style="color: crimson; border: 4px black solid c; border-radius: 20px; font-size: 40px; background-color: grey;">{{ error }}</h2>
<div>
    <form action="/change_password" method="post">
        <input type="text" name="position" id="position" value="{{ session['position'] }}" hidden>
        <input type="text" name="uid" id="uid" value="{{ session['uid']}}" hidden>
        <label for="cur_pass">Current Password:</label><input type="text" name="cur_pass" id="cur_pass" required><br>
        <label for="1newpass">New Password:</label><input type="text" name="1newpass" id="1newpass>" required><br>
        <label for="2newpass">Reenter Password:</label><input type="text" name="2newpass" id="2newpass" required><br>
        <input type="submit" value="Update Password"><br>
    </form>
</div>
{% endblock %}