{% extends 'Base.html' %}

{% block content %}
<form>
    <table>
        <tr>
            <th>Student Name</th>
            <th>Attendance</th>
        </tr>
        {% for item in results %}
            <tr>
                <td>{{ item[0] }}</td>
                <td><select name="{{ item[1] }}" id="{{ item[1] }}">
                    <option value="Present" {% if item[2] == 'Present' %}selected{% endif %}>Present</option>
                    <option value="Late" {% if item[2] == 'Late' %}selected{% endif %}>Late</option>
                    <option value="Absent" {% if item[2] == None %}selected{% endif %}>Absent</option>
                </select></td>
            </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}

